/* 
    Created on : 18-Nov-2014, 22:12:24
    Author     : Sami
*/

header{
    background-color: greenyellow;
    border: 5px;
    border-color: green;
    border-style: groove;
    border-width: 5px;
    float: top;
    margin: 5px;
    text-align: center;
}

nav{
    float: left;
}

section{
    float: left;
}

h1{
    color: green;
}

a{
    background-color: greenyellow;
    border: 5px;
    border-color: green;
    border-style: groove;
    border-width: 5px;
    float: left;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

#exceptional{
    background-color: white;
    border: 0px;
}

